body {
  font-family: 'Open sans';
  color: rgb(30,30,30);
  background-color: rgb(240,240,240);
}
h1, h2, h3 {
  font-family: 'Raleway', sans-serif;
  color: #42BEFA;
}

a {
  color: rgb(140,140,140);
  text-decoration: none;
}
a:hover {
  color: #42BEFA;
  text-decoration: none;
}
